body {
  margin: 0;
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

.main {
    
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.main p {
    max-width: 33rem;
    margin-left: 15rem;
    margin-top: -1rem;
    font-size: 46.67px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1E1E1E;
}

.music {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    margin-left: 15rem;
    margin-right: 30rem;
    background-color: rgba(251, 216, 164, 1);
    border-radius: 50px;
    gap: 10px;
    padding: 0rem 0rem 0rem 1rem;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(251, 216, 164, 1);
}

.layer2 {
    background-color: rgba(249, 149, 1, 1);
}

.layer2 img {
    display: flex;
}

@media (max-width: 768px) {
    .main {
        width: 2000px;
}
    
.main p {
    max-width: 32%;
    margin-left: 2rem;
    margin-top: 0rem;
    font-size: 46.67px;
}

.music {
    margin-left: 2rem;
}

.hide-img {
    display: none;
} 

.deepak {
    margin-left: 38rem;
}
}